:root {
  --Dark-blue: hsl(218, 44%, 22%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Light-gray: hsl(212, 45%, 89%);
  --White: hsl(0, 0%, 100%);

  /****************** TAG SELECTOR ********************/
}

body {
  align-items: center;
  background-color: var(--Light-gray);
  display: flex;
  height: 100vh;
  justify-content: center;

  flex-direction: column;
  font-family: "Outfit", sans-serif;
}
img {
  border-radius: 1rem;
  display: block;
  width: 100%;
}
h2 {
  color: var(--Dark-blue);
  font-weight: 700;
  padding: 0% 10% 0;
}

p {
  color: var(--Grayish-blue);
  font-size: 15px;
  font-weight: 400;
  padding: 0 14% 5%;
}

/****************** CLASS SELECTOR ********************/

/* TEXT ONE */
.white-card {
  background-color: var(--White);
  border-radius: 25px;
  max-width: 22rem;
  padding: 1rem;
  text-align: center;
}

/* TEX TWO */
.attribution {
  font-size: 11px;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
